################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Web.CoreApp/wwwroot/lib
/src/Web.CoreApp/bin
/src/Web.CoreApp/obj
/src/Web.CoreApp.Tests/bin
/src/Web.CoreApp.Tests/obj


