################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Web.CoreApp/wwwroot/lib
/src/Web.CoreApp/bin
/src/Web.CoreApp/obj
/src/Web.CoreApp.Tests/bin
/src/Web.CoreApp.Tests/obj


/src/CoreMVCAngular2App/node_modules
/src/CoreMVCAngular2App/obj/Debug/netcoreapp1.0
/src/CoreMVCAngular2App/bin/Debug/netcoreapp1.0
/src/CoreMVCAngular2App/typings
/src/CoreMVCAngular2App/wwwroot/app
